body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100dvh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

h2 {
    color: hsl(218, 44%, 22%);
    font-size: 20px;
}

p {
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}

.card {
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    text-align: center;
    font-family: 'Outfit';
    font-weight: 400, 700;
    background-color: #ffffff;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.atribution {
    font-size: 11px;
    text-align: center;

}


